/*기본설정 */
.outline-container {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 150, 217);
  padding: 5px 0px 10px 0px;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.left-nav {
  width: 150px;
  padding-top: 20px;
}
.left-nav > div {
  background-color: blanchedalmond;
  padding: 5px 0px 0px 5px;
  width: 100px;
  margin: 5px;
  border-right: 20px solid black;
}
.right-contents {
  width: 400px;
}
.title {
  color: blueviolet;
  font-size: 40px;
  font-weight: 500;
}
.conten > div {
  font-size: 20px;
  color: rgb(103, 103, 222);
}
.date {
  border: 2px dotted royalblue;
  border-width: 2px 0px 0px 0px;
}
/*.outline-container {
  display: flex;
  justify-content: center;
}
.left-nav {
  width: 150px;
}
.right-contents {
  width: 400px;
}


