.container {
  display: flex;
  flex-direction: row;
}
.flex_box {
  font-weight: 700;
  background-color: #d8da3d;
  margin: auto;
  width: 700px;
}
.item {
  list-style-type: none;
  padding: 0px;
  margin: 50px 0px 0px 0px;
}

.item > li {
  background-color: white;
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  border-color: black;
  margin: 10px;
  padding: 5px;
  width: 110px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(128, 0, 128);
  margin: 30px 0px 30px 20px;
}
.content {
  color: rgb(128, 0, 128);
  margin: 10px 0px 150px 20px; /*아래를 크게 해야 커짐 */
}
.content > div {
  margin: 15px;
}
.date {
  border: 1px dotted rgb(128, 0, 128);
  border-width: 1px 0px 0px 0px;
  padding: 10px 0px;
}
