.container {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  background-color: #d8da3d;
  margin: auto;
  width: 600px;
  height: 500px;
}

.item {
  list-style-type: none;
  padding: 0px;
  margin: 30px;
}

.item > li {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0px 15px 0px 0px;
  margin: 10px;
  padding: 5px;
  width: 110px;
}

.center1 {
  color: rgb(128, 0, 128);
  margin: 20px 0px 20px 10px;
  font-weight: 600;
  font-size: 30px;
}
.center2 {
  color: rgb(128, 0, 128);
  margin: 10px 0px 100px 20px; /*아래를 크게 해야 커짐*/
}
.center2 > div {
  margin: 15px;
}
.date {
  border: 1px dotted rgb(128, 0, 128);
  border-width: 1px 0px 0px 0px;
}
.text-decoration {
  text-decoration: none;
} /*링크 밑줄없애기*/
