.center {
  text-align: center;
}
h1 {
  font-size: 75px;
  color: #00539f;
  text-shadow: 3px 3px black;
}
.background-colors {
  width: 600px;
  background-color: orange;
  border: 5px solid black;
}
.padding {
  padding: 0px 30px 30px 400px;
}
.background-color {
  background-color: #00539f;
}
