table {
  margin-left: auto;
  margin-right: auto;
}
tr > td {
  background-color: blanchedalmond;
}
th {
  background-color: blanchedalmond;
}
tbody > tr > td {
  background-color: salmon;
}
.width {
  padding-right: 50px;
}
.center {
  text-align: center;
}
