ul {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 5px 30px;
}
.text-weight {
  font-size: 40px;
  font-weight: 800;
}
.text-align {
  text-align: center;
}
.background-color {
  background-color: yellow;
}
